<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.housekeeper178.housekeeper_178">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />


    <application
        android:name=".activity.HKApplication"
        android:allowBackup="true"
        android:icon="@mipmap/greenshopicon"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:ignore="GoogleAppIndexingWarning">
        <activity android:name=".activity.activity.ChangeAddressActivity"/>
        <activity android:name=".activity.activity.AddressActivity"/>
        <activity android:name=".activity.activity.MainActivity"/>
        <activity android:name=".activity.activity.GoodsiinfofromhomeActivity"/>
        <activity android:name=".activity.activity.GoodInfoActivity"/>
        <activity android:name=".activity.activity.LoginActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".activity.activity.RegisterActivity"/>
        <activity android:name=".activity.activity.ChangeUserPasswordActivity"/>
        <activity android:name=".activity.activity.FeileiGoodshowActivity"/>
        <activity android:name=".activity.activity.OrderActivity"/>
        <activity android:name=".activity.activity.PaySuccessfulActivity" />
        <activity android:name=".activity.activity.EnSureDeletActivity" />
        <activity android:name=".activity.activity.DeletSuccessfulActivity" />
        <activity android:name=".activity.activity.CheckAllOrderActivity" />


    </application>

</manifest>